* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body > * {
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    box-shadow: 10px 20px 20px #ebecfe;
    width: 615px;
    height: 430px;
    border-radius: 1rem;
    display: flex;
    background-color: #eee;
}

.left-part {
    width: 50%;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.left-part__title {
    color: lightgrey;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 2rem;
}

.left-part__circle {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    color: white;
    margin: 0 auto 2rem;
}

.left-part__current {
    font-size: 4rem;
    font-weight: bold;
    display: block;
    align-self: center;
    justify-self: center;
}

.left-part__total {
    color: rgb(150, 150, 150);
    display: block;
    justify-self: center;
    align-self: center;
}

.left-part__comments {
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.left-part__explication {
    font-weight: 500;
    color: rgb(150, 150, 150);
    font-size: 1rem;
    line-height: 1.3rem;
}

.right-part {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.right-part__title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.right-part__box {
    margin-bottom: 1rem;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.right-part__box--reaction {
    background: hsl(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%)
}

.right-part__box--memory {
    background: hsl(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%)
}

.right-part__box--verbal {
    background: hsl(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.right-part__box--visual {
    background: hsl(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

.right-part__box__categorie {
    margin-left: 0.5rem;
    flex-grow: 1;
}

.right-part__box__categorie img {
    margin-right: 0.75rem;
}

.right-part__box__note__current {
    color:black
}

.right-part__box__note {
    color: #848485;
}

.right-part__button {
    background-color: #303b59;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 1.25rem;
    margin: 1rem 0;
}

@media screen and (max-width:375px) {
    
    .attribution {
        visibility: hidden;
    }

    .container {
        flex-direction: column;
        width: 375px;
        height: 100%;
    }

    .left-part {
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .left-part__title {
        margin: 1.25rem;
    }

    .left-part__circle {
        width: 140px;
        height: 140px;
        margin: 0 auto 1rem;
    }

    .left-part__comments {
        margin-bottom: 0.5rem;
    }

    .left-part__explication {
        margin-bottom: 1rem;
    }

    .right-part {
        width: 100%;
        padding: 1.5rem;
    }

    .right-part__title {
        font-size: 1.2rem;
    }
    
    .right-part__box {
        margin-bottom: 0.75rem;
    }

    .right-part__button {
        margin: 0.2rem 0;
    }
}